In [1]:
import findspark
findspark.init('/usr/local/spark')
import pyspark

In [2]:
from pyspark.sql import SparkSession
spark= SparkSession.builder.appName("capstone checkpoint").getOrCreate()

In [3]:
df = spark.read.csv("user_demographics.csv",inferSchema=True,header=True)

In [4]:
df1 = spark.read.csv("User_product_purchase_details_p2.csv",inferSchema=True,header=True)

In [5]:
df.show(10)

+-------+------+-----+----------+
|User_ID|Gender|  Age|Occupation|
+-------+------+-----+----------+
|1000001|     F| 0-17|        10|
|1000002|     M|  55+|        16|
|1000003|     M|26-35|        15|
|1000004|     M|46-50|         7|
|1000005|     M|26-35|        20|
|1000006|     F|51-55|         9|
|1000007|     M|36-45|         1|
|1000008|     M|26-35|        12|
|1000009|     M|26-35|        17|
|1000010|     F|36-45|         1|
+-------+------+-----+----------+
only showing top 10 rows

In [6]:
df1.show(10)

+-------+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|User_ID|Product_ID|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|
+-------+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|1000001| P00069042|            A|                         2|             0|                 3|              null|              null|    8370|
|1000001| P00248942|            A|                         2|             0|                 1|                 6|                14|   15200|
|1000001| P00087842|            A|                         2|             0|                12|              null|              null|    1422|
|1000001| P00085442|            A|                         2|             0|                12|                14|              null|    1057|
|1000002| P00285442|            C|                        4+|             0|                 8|              null|              null|    7969|
|1000003| P00193542|            A|                         3|             0|                 1|                 2|              null|   15227|
|1000004| P00184942|            B|                         2|             1|                 1|                 8|                17|   19215|
|1000004| P00346142|            B|                         2|             1|                 1|                15|              null|   15854|
|1000004|  P0097242|            B|                         2|             1|                 1|                16|              null|   15686|
|1000005| P00274942|            A|                         1|             1|                 8|              null|              null|    7871|
+-------+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
only showing top 10 rows

In [7]:
output = df.join(df1,['User_ID'],how='inner')

In [8]:
output.show(5)

+-------+------+----+----------+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|User_ID|Gender| Age|Occupation|Product_ID|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|
+-------+------+----+----------+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|1000001|     F|0-17|        10| P00069042|            A|                         2|             0|                 3|              null|              null|    8370|
|1000001|     F|0-17|        10| P00248942|            A|                         2|             0|                 1|                 6|                14|   15200|
|1000001|     F|0-17|        10| P00087842|            A|                         2|             0|                12|              null|              null|    1422|
|1000001|     F|0-17|        10| P00085442|            A|                         2|             0|                12|                14|              null|    1057|
|1000002|     M| 55+|        16| P00285442|            C|                        4+|             0|                 8|              null|              null|    7969|
+-------+------+----+----------+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
only showing top 5 rows

In [9]:
output.drop(output.Product_Category_3).show()

+-------+------+-----+----------+----------+-------------+--------------------------+--------------+------------------+------------------+--------+
|User_ID|Gender|  Age|Occupation|Product_ID|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Purchase|
+-------+------+-----+----------+----------+-------------+--------------------------+--------------+------------------+------------------+--------+
|1000001|     F| 0-17|        10| P00069042|            A|                         2|             0|                 3|              null|    8370|
|1000001|     F| 0-17|        10| P00248942|            A|                         2|             0|                 1|                 6|   15200|
|1000001|     F| 0-17|        10| P00087842|            A|                         2|             0|                12|              null|    1422|
|1000001|     F| 0-17|        10| P00085442|            A|                         2|             0|                12|                14|    1057|
|1000002|     M|  55+|        16| P00285442|            C|                        4+|             0|                 8|              null|    7969|
|1000003|     M|26-35|        15| P00193542|            A|                         3|             0|                 1|                 2|   15227|
|1000004|     M|46-50|         7| P00184942|            B|                         2|             1|                 1|                 8|   19215|
|1000004|     M|46-50|         7| P00346142|            B|                         2|             1|                 1|                15|   15854|
|1000004|     M|46-50|         7|  P0097242|            B|                         2|             1|                 1|                16|   15686|
|1000005|     M|26-35|        20| P00274942|            A|                         1|             1|                 8|              null|    7871|
|1000005|     M|26-35|        20| P00251242|            A|                         1|             1|                 5|                11|    5254|
|1000005|     M|26-35|        20| P00014542|            A|                         1|             1|                 8|              null|    3957|
|1000005|     M|26-35|        20| P00031342|            A|                         1|             1|                 8|              null|    6073|
|1000005|     M|26-35|        20| P00145042|            A|                         1|             1|                 1|                 2|   15665|
|1000006|     F|51-55|         9| P00231342|            A|                         1|             0|                 5|                 8|    5378|
|1000006|     F|51-55|         9| P00190242|            A|                         1|             0|                 4|                 5|    2079|
|1000006|     F|51-55|         9|  P0096642|            A|                         1|             0|                 2|                 3|   13055|
|1000006|     F|51-55|         9| P00058442|            A|                         1|             0|                 5|                14|    8851|
|1000007|     M|36-45|         1| P00036842|            B|                         1|             1|                 1|                14|   11788|
|1000008|     M|26-35|        12| P00249542|            C|                        4+|             1|                 1|                 5|   19614|
+-------+------+-----+----------+----------+-------------+--------------------------+--------------+------------------+------------------+--------+
only showing top 20 rows

In [10]:
output1 = output.drop(output.Product_Category_3).fillna(value=0,subset=["Product_Category_2"])

In [11]:
spark.sql("create database blackfriday").show()

++
||
++
++

In [12]:
spark.sql("show databases").show()

+------------+
|databaseName|
+------------+
| blackfriday|
|     default|
+------------+

In [13]:
spark.sql("use blackfriday").show()

++
||
++
++

In [14]:
output1.write.saveAsTable('black_friday1')

In [15]:
output1.describe().show()

+-------+------------------+------+------+------------------+----------+-------------+--------------------------+-------------------+------------------+------------------+-----------------+
|summary|           User_ID|Gender|   Age|        Occupation|Product_ID|City_Category|Stay_In_Current_City_Years|     Marital_Status|Product_Category_1|Product_Category_2|         Purchase|
+-------+------------------+------+------+------------------+----------+-------------+--------------------------+-------------------+------------------+------------------+-----------------+
|  count|            550068|550068|550068|            550068|    550068|       550068|                    550068|             550068|            550068|            550068|           550068|
|   mean|1003028.8424013031|  null|  null| 8.076706879876669|      null|         null|         1.468494139793958|0.40965298835780306| 5.404270017525106| 6.735436346051761|9263.968712959126|
| stddev| 1727.591585530871|  null|  null|6.5226604873418115|      null|         null|         0.989086680757309| 0.4917701263173259| 3.936211369201324| 6.215491528010988|5023.065393820593|
|    min|           1000001|     F|  0-17|                 0| P00000142|            A|                         0|                  0|                 1|                 0|               12|
|    max|           1006040|     M|   55+|                20|  P0099942|            C|                        4+|                  1|                20|                18|            23961|
+-------+------------------+------+------+------------------+----------+-------------+--------------------------+-------------------+------------------+------------------+-----------------+

In [16]:
output1.printSchema()

root
 |-- User_ID: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Occupation: integer (nullable = true)
 |-- Product_ID: string (nullable = true)
 |-- City_Category: string (nullable = true)
 |-- Stay_In_Current_City_Years: string (nullable = true)
 |-- Marital_Status: integer (nullable = true)
 |-- Product_Category_1: integer (nullable = true)
 |-- Product_Category_2: integer (nullable = true)
 |-- Purchase: integer (nullable = true)

In [17]:
spark.sql("show tables").show()

+-----------+-------------+-----------+
|   database|    tableName|isTemporary|
+-----------+-------------+-----------+
|blackfriday|black_friday1|      false|
+-----------+-------------+-----------+

In [18]:
spark.sql("select * from black_friday1 limit 10").show()

+-------+------+-----+----------+----------+-------------+--------------------------+--------------+------------------+------------------+--------+
|User_ID|Gender|  Age|Occupation|Product_ID|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Purchase|
+-------+------+-----+----------+----------+-------------+--------------------------+--------------+------------------+------------------+--------+
|1000001|     F| 0-17|        10| P00069042|            A|                         2|             0|                 3|                 0|    8370|
|1000001|     F| 0-17|        10| P00248942|            A|                         2|             0|                 1|                 6|   15200|
|1000001|     F| 0-17|        10| P00087842|            A|                         2|             0|                12|                 0|    1422|
|1000001|     F| 0-17|        10| P00085442|            A|                         2|             0|                12|                14|    1057|
|1000002|     M|  55+|        16| P00285442|            C|                        4+|             0|                 8|                 0|    7969|
|1000003|     M|26-35|        15| P00193542|            A|                         3|             0|                 1|                 2|   15227|
|1000004|     M|46-50|         7| P00184942|            B|                         2|             1|                 1|                 8|   19215|
|1000004|     M|46-50|         7| P00346142|            B|                         2|             1|                 1|                15|   15854|
|1000004|     M|46-50|         7|  P0097242|            B|                         2|             1|                 1|                16|   15686|
|1000005|     M|26-35|        20| P00274942|            A|                         1|             1|                 8|                 0|    7871|
+-------+------+-----+----------+----------+-------------+--------------------------+--------------+------------------+------------------+--------+

In [19]:
output1[output1.Purchase > 5000].show()

+-------+------+-----+----------+----------+-------------+--------------------------+--------------+------------------+------------------+--------+
|User_ID|Gender|  Age|Occupation|Product_ID|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Purchase|
+-------+------+-----+----------+----------+-------------+--------------------------+--------------+------------------+------------------+--------+
|1000001|     F| 0-17|        10| P00069042|            A|                         2|             0|                 3|                 0|    8370|
|1000001|     F| 0-17|        10| P00248942|            A|                         2|             0|                 1|                 6|   15200|
|1000002|     M|  55+|        16| P00285442|            C|                        4+|             0|                 8|                 0|    7969|
|1000003|     M|26-35|        15| P00193542|            A|                         3|             0|                 1|                 2|   15227|
|1000004|     M|46-50|         7| P00184942|            B|                         2|             1|                 1|                 8|   19215|
|1000004|     M|46-50|         7| P00346142|            B|                         2|             1|                 1|                15|   15854|
|1000004|     M|46-50|         7|  P0097242|            B|                         2|             1|                 1|                16|   15686|
|1000005|     M|26-35|        20| P00274942|            A|                         1|             1|                 8|                 0|    7871|
|1000005|     M|26-35|        20| P00251242|            A|                         1|             1|                 5|                11|    5254|
|1000005|     M|26-35|        20| P00031342|            A|                         1|             1|                 8|                 0|    6073|
|1000005|     M|26-35|        20| P00145042|            A|                         1|             1|                 1|                 2|   15665|
|1000006|     F|51-55|         9| P00231342|            A|                         1|             0|                 5|                 8|    5378|
|1000006|     F|51-55|         9|  P0096642|            A|                         1|             0|                 2|                 3|   13055|
|1000006|     F|51-55|         9| P00058442|            A|                         1|             0|                 5|                14|    8851|
|1000007|     M|36-45|         1| P00036842|            B|                         1|             1|                 1|                14|   11788|
|1000008|     M|26-35|        12| P00249542|            C|                        4+|             1|                 1|                 5|   19614|
|1000008|     M|26-35|        12| P00220442|            C|                        4+|             1|                 5|                14|    8584|
|1000008|     M|26-35|        12| P00156442|            C|                        4+|             1|                 8|                 0|    9872|
|1000008|     M|26-35|        12| P00213742|            C|                        4+|             1|                 8|                 0|    9743|
|1000008|     M|26-35|        12| P00214442|            C|                        4+|             1|                 8|                 0|    5982|
+-------+------+-----+----------+----------+-------------+--------------------------+--------------+------------------+------------------+--------+
only showing top 20 rows

In [20]:
output1.groupby("Gender").count().show()

+------+------+
|Gender| count|
+------+------+
|     F|135809|
|     M|414259|
+------+------+

In [21]:
output1.groupby("City_Category").count().show()

+-------------+------+
|City_Category| count|
+-------------+------+
|            B|231173|
|            C|171175|
|            A|147720|
+-------------+------+

In [22]:
spark.sql("select * from black_friday1 where Gender='M' and City_Category='A'").count()

112016

In [23]:
spark.sql("select * from black_friday1 where Gender='M' and City_Category='A'").show()

+-------+------+-----+----------+----------+-------------+--------------------------+--------------+------------------+------------------+--------+
|User_ID|Gender|  Age|Occupation|Product_ID|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Purchase|
+-------+------+-----+----------+----------+-------------+--------------------------+--------------+------------------+------------------+--------+
|1000003|     M|26-35|        15| P00193542|            A|                         3|             0|                 1|                 2|   15227|
|1000005|     M|26-35|        20| P00274942|            A|                         1|             1|                 8|                 0|    7871|
|1000005|     M|26-35|        20| P00251242|            A|                         1|             1|                 5|                11|    5254|
|1000005|     M|26-35|        20| P00014542|            A|                         1|             1|                 8|                 0|    3957|
|1000005|     M|26-35|        20| P00031342|            A|                         1|             1|                 8|                 0|    6073|
|1000005|     M|26-35|        20| P00145042|            A|                         1|             1|                 1|                 2|   15665|
|1000015|     M|26-35|         7| P00334242|            A|                         1|             0|                 1|                 8|   19653|
|1000015|     M|26-35|         7| P00247542|            A|                         1|             0|                 8|                16|    5958|
|1000015|     M|26-35|         7| P00338442|            A|                         1|             0|                 1|                16|   11415|
|1000015|     M|26-35|         7| P00275142|            A|                         1|             0|                 5|                 8|    5380|
|1000015|     M|26-35|         7| P00333042|            A|                         1|             0|                 5|                 8|    3594|
|1000015|     M|26-35|         7| P00166242|            A|                         1|             0|                 8|                 0|    4209|
|1000015|     M|26-35|         7| P00161942|            A|                         1|             0|                 5|                 8|    5407|
|1000015|     M|26-35|         7| P00348242|            A|                         1|             0|                 8|                 0|    7803|
|1000015|     M|26-35|         7| P00042142|            A|                         1|             0|                 1|                 2|   11458|
|1000019|     M| 0-17|        10| P00112542|            A|                         3|             0|                 1|                11|    7746|
|1000019|     M| 0-17|        10| P00339542|            A|                         3|             0|                 1|                 0|   19525|
|1000019|     M| 0-17|        10| P00127842|            A|                         3|             0|                 1|                 2|   11959|
|1000019|     M| 0-17|        10| P00125942|            A|                         3|             0|                 1|                 2|   19172|
|1000019|     M| 0-17|        10| P00251342|            A|                         3|             0|                 5|                11|    8773|
+-------+------+-----+----------+----------+-------------+--------------------------+--------------+------------------+------------------+--------+
only showing top 20 rows

In [24]:
output1.show(10)

+-------+------+-----+----------+----------+-------------+--------------------------+--------------+------------------+------------------+--------+
|User_ID|Gender|  Age|Occupation|Product_ID|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Purchase|
+-------+------+-----+----------+----------+-------------+--------------------------+--------------+------------------+------------------+--------+
|1000001|     F| 0-17|        10| P00069042|            A|                         2|             0|                 3|                 0|    8370|
|1000001|     F| 0-17|        10| P00248942|            A|                         2|             0|                 1|                 6|   15200|
|1000001|     F| 0-17|        10| P00087842|            A|                         2|             0|                12|                 0|    1422|
|1000001|     F| 0-17|        10| P00085442|            A|                         2|             0|                12|                14|    1057|
|1000002|     M|  55+|        16| P00285442|            C|                        4+|             0|                 8|                 0|    7969|
|1000003|     M|26-35|        15| P00193542|            A|                         3|             0|                 1|                 2|   15227|
|1000004|     M|46-50|         7| P00184942|            B|                         2|             1|                 1|                 8|   19215|
|1000004|     M|46-50|         7| P00346142|            B|                         2|             1|                 1|                15|   15854|
|1000004|     M|46-50|         7|  P0097242|            B|                         2|             1|                 1|                16|   15686|
|1000005|     M|26-35|        20| P00274942|            A|                         1|             1|                 8|                 0|    7871|
+-------+------+-----+----------+----------+-------------+--------------------------+--------------+------------------+------------------+--------+
only showing top 10 rows

In [25]:
output = output1.drop('User_ID')

In [26]:
output = output.drop('Product_ID')

In [27]:
output.show(5)

+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+--------+
|Gender| Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Purchase|
+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+--------+
|     F|0-17|        10|            A|                         2|             0|                 3|                 0|    8370|
|     F|0-17|        10|            A|                         2|             0|                 1|                 6|   15200|
|     F|0-17|        10|            A|                         2|             0|                12|                 0|    1422|
|     F|0-17|        10|            A|                         2|             0|                12|                14|    1057|
|     M| 55+|        16|            C|                        4+|             0|                 8|                 0|    7969|
+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+--------+
only showing top 5 rows

In [28]:
from pyspark.ml.feature import StringIndexer
city_indexer = StringIndexer(inputCol="City_Category", outputCol="CityCategory")
output = city_indexer.fit(output).transform(output)

In [29]:
output.show(5)

+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+--------+------------+
|Gender| Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Purchase|CityCategory|
+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+--------+------------+
|     F|0-17|        10|            A|                         2|             0|                 3|                 0|    8370|         2.0|
|     F|0-17|        10|            A|                         2|             0|                 1|                 6|   15200|         2.0|
|     F|0-17|        10|            A|                         2|             0|                12|                 0|    1422|         2.0|
|     F|0-17|        10|            A|                         2|             0|                12|                14|    1057|         2.0|
|     M| 55+|        16|            C|                        4+|             0|                 8|                 0|    7969|         1.0|
+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+--------+------------+
only showing top 5 rows

In [30]:
output = output.drop('City_Category')

In [31]:
age_indexer = StringIndexer(inputCol="Age", outputCol="ageindex")
output = age_indexer.fit(output).transform(output)
output.show(5)

+------+----+----------+--------------------------+--------------+------------------+------------------+--------+------------+--------+
|Gender| Age|Occupation|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Purchase|CityCategory|ageindex|
+------+----+----------+--------------------------+--------------+------------------+------------------+--------+------------+--------+
|     F|0-17|        10|                         2|             0|                 3|                 0|    8370|         2.0|     6.0|
|     F|0-17|        10|                         2|             0|                 1|                 6|   15200|         2.0|     6.0|
|     F|0-17|        10|                         2|             0|                12|                 0|    1422|         2.0|     6.0|
|     F|0-17|        10|                         2|             0|                12|                14|    1057|         2.0|     6.0|
|     M| 55+|        16|                        4+|             0|                 8|                 0|    7969|         1.0|     5.0|
+------+----+----------+--------------------------+--------------+------------------+------------------+--------+------------+--------+
only showing top 5 rows

In [32]:
output = output.drop('Age')

In [33]:
gender_indexer = StringIndexer(inputCol="Gender", outputCol="genderindex")
output = gender_indexer.fit(output).transform(output)
output.show(5)

+------+----------+--------------------------+--------------+------------------+------------------+--------+------------+--------+-----------+
|Gender|Occupation|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Purchase|CityCategory|ageindex|genderindex|
+------+----------+--------------------------+--------------+------------------+------------------+--------+------------+--------+-----------+
|     F|        10|                         2|             0|                 3|                 0|    8370|         2.0|     6.0|        1.0|
|     F|        10|                         2|             0|                 1|                 6|   15200|         2.0|     6.0|        1.0|
|     F|        10|                         2|             0|                12|                 0|    1422|         2.0|     6.0|        1.0|
|     F|        10|                         2|             0|                12|                14|    1057|         2.0|     6.0|        1.0|
|     M|        16|                        4+|             0|                 8|                 0|    7969|         1.0|     5.0|        0.0|
+------+----------+--------------------------+--------------+------------------+------------------+--------+------------+--------+-----------+
only showing top 5 rows

In [34]:
output = output.drop('Gender')

In [35]:
stay_indexer = StringIndexer(inputCol="Stay_In_Current_City_Years", outputCol="stayindex")
output = stay_indexer.fit(output).transform(output)
output.show(10)

+----------+--------------------------+--------------+------------------+------------------+--------+------------+--------+-----------+---------+
|Occupation|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Purchase|CityCategory|ageindex|genderindex|stayindex|
+----------+--------------------------+--------------+------------------+------------------+--------+------------+--------+-----------+---------+
|        10|                         2|             0|                 3|                 0|    8370|         2.0|     6.0|        1.0|      1.0|
|        10|                         2|             0|                 1|                 6|   15200|         2.0|     6.0|        1.0|      1.0|
|        10|                         2|             0|                12|                 0|    1422|         2.0|     6.0|        1.0|      1.0|
|        10|                         2|             0|                12|                14|    1057|         2.0|     6.0|        1.0|      1.0|
|        16|                        4+|             0|                 8|                 0|    7969|         1.0|     5.0|        0.0|      3.0|
|        15|                         3|             0|                 1|                 2|   15227|         2.0|     0.0|        0.0|      2.0|
|         7|                         2|             1|                 1|                 8|   19215|         0.0|     3.0|        0.0|      1.0|
|         7|                         2|             1|                 1|                15|   15854|         0.0|     3.0|        0.0|      1.0|
|         7|                         2|             1|                 1|                16|   15686|         0.0|     3.0|        0.0|      1.0|
|        20|                         1|             1|                 8|                 0|    7871|         2.0|     0.0|        0.0|      0.0|
+----------+--------------------------+--------------+------------------+------------------+--------+------------+--------+-----------+---------+
only showing top 10 rows

In [36]:
output = output.drop('Stay_In_Current_City_Years')

In [37]:
output.show(5)

+----------+--------------+------------------+------------------+--------+------------+--------+-----------+---------+
|Occupation|Marital_Status|Product_Category_1|Product_Category_2|Purchase|CityCategory|ageindex|genderindex|stayindex|
+----------+--------------+------------------+------------------+--------+------------+--------+-----------+---------+
|        10|             0|                 3|                 0|    8370|         2.0|     6.0|        1.0|      1.0|
|        10|             0|                 1|                 6|   15200|         2.0|     6.0|        1.0|      1.0|
|        10|             0|                12|                 0|    1422|         2.0|     6.0|        1.0|      1.0|
|        10|             0|                12|                14|    1057|         2.0|     6.0|        1.0|      1.0|
|        16|             0|                 8|                 0|    7969|         1.0|     5.0|        0.0|      3.0|
+----------+--------------+------------------+------------------+--------+------------+--------+-----------+---------+
only showing top 5 rows

In [38]:
features = ['Occupation','stayindex','Marital_Status','Product_Category_1','Product_Category_2','CityCategory','ageindex','genderindex']

In [40]:
from pyspark.sql.functions import *
lr_data = output.select(col("Purchase").alias("label"), *features)
lr_data.printSchema()

root
 |-- label: integer (nullable = true)
 |-- Occupation: integer (nullable = true)
 |-- stayindex: double (nullable = true)
 |-- Marital_Status: integer (nullable = true)
 |-- Product_Category_1: integer (nullable = true)
 |-- Product_Category_2: integer (nullable = true)
 |-- CityCategory: double (nullable = true)
 |-- ageindex: double (nullable = true)
 |-- genderindex: double (nullable = true)

In [41]:
lr_data.show(10)

+-----+----------+---------+--------------+------------------+------------------+------------+--------+-----------+
|label|Occupation|stayindex|Marital_Status|Product_Category_1|Product_Category_2|CityCategory|ageindex|genderindex|
+-----+----------+---------+--------------+------------------+------------------+------------+--------+-----------+
| 8370|        10|      1.0|             0|                 3|                 0|         2.0|     6.0|        1.0|
|15200|        10|      1.0|             0|                 1|                 6|         2.0|     6.0|        1.0|
| 1422|        10|      1.0|             0|                12|                 0|         2.0|     6.0|        1.0|
| 1057|        10|      1.0|             0|                12|                14|         2.0|     6.0|        1.0|
| 7969|        16|      3.0|             0|                 8|                 0|         1.0|     5.0|        0.0|
|15227|        15|      2.0|             0|                 1|                 2|         2.0|     0.0|        0.0|
|19215|         7|      1.0|             1|                 1|                 8|         0.0|     3.0|        0.0|
|15854|         7|      1.0|             1|                 1|                15|         0.0|     3.0|        0.0|
|15686|         7|      1.0|             1|                 1|                16|         0.0|     3.0|        0.0|
| 7871|        20|      0.0|             1|                 8|                 0|         2.0|     0.0|        0.0|
+-----+----------+---------+--------------+------------------+------------------+------------+--------+-----------+
only showing top 10 rows

In [42]:
from pyspark.ml.regression import LinearRegression
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.feature import StandardScaler
from pyspark.ml import Pipeline
from pyspark.sql.functions import *

In [43]:
vectorAssembler = VectorAssembler(inputCols=features, outputCol="unscaled_features")

In [44]:
va_data = vectorAssembler.transform(lr_data)

In [45]:
va_data.show(truncate=False)

+-----+----------+---------+--------------+------------------+------------------+------------+--------+-----------+------------------------------------+
|label|Occupation|stayindex|Marital_Status|Product_Category_1|Product_Category_2|CityCategory|ageindex|genderindex|unscaled_features                   |
+-----+----------+---------+--------------+------------------+------------------+------------+--------+-----------+------------------------------------+
|8370 |10        |1.0      |0             |3                 |0                 |2.0         |6.0     |1.0        |[10.0,1.0,0.0,3.0,0.0,2.0,6.0,1.0]  |
|15200|10        |1.0      |0             |1                 |6                 |2.0         |6.0     |1.0        |[10.0,1.0,0.0,1.0,6.0,2.0,6.0,1.0]  |
|1422 |10        |1.0      |0             |12                |0                 |2.0         |6.0     |1.0        |[10.0,1.0,0.0,12.0,0.0,2.0,6.0,1.0] |
|1057 |10        |1.0      |0             |12                |14                |2.0         |6.0     |1.0        |[10.0,1.0,0.0,12.0,14.0,2.0,6.0,1.0]|
|7969 |16        |3.0      |0             |8                 |0                 |1.0         |5.0     |0.0        |[16.0,3.0,0.0,8.0,0.0,1.0,5.0,0.0]  |
|15227|15        |2.0      |0             |1                 |2                 |2.0         |0.0     |0.0        |[15.0,2.0,0.0,1.0,2.0,2.0,0.0,0.0]  |
|19215|7         |1.0      |1             |1                 |8                 |0.0         |3.0     |0.0        |[7.0,1.0,1.0,1.0,8.0,0.0,3.0,0.0]   |
|15854|7         |1.0      |1             |1                 |15                |0.0         |3.0     |0.0        |[7.0,1.0,1.0,1.0,15.0,0.0,3.0,0.0]  |
|15686|7         |1.0      |1             |1                 |16                |0.0         |3.0     |0.0        |[7.0,1.0,1.0,1.0,16.0,0.0,3.0,0.0]  |
|7871 |20        |0.0      |1             |8                 |0                 |2.0         |0.0     |0.0        |(8,[0,2,3,5],[20.0,1.0,8.0,2.0])    |
|5254 |20        |0.0      |1             |5                 |11                |2.0         |0.0     |0.0        |[20.0,0.0,1.0,5.0,11.0,2.0,0.0,0.0] |
|3957 |20        |0.0      |1             |8                 |0                 |2.0         |0.0     |0.0        |(8,[0,2,3,5],[20.0,1.0,8.0,2.0])    |
|6073 |20        |0.0      |1             |8                 |0                 |2.0         |0.0     |0.0        |(8,[0,2,3,5],[20.0,1.0,8.0,2.0])    |
|15665|20        |0.0      |1             |1                 |2                 |2.0         |0.0     |0.0        |[20.0,0.0,1.0,1.0,2.0,2.0,0.0,0.0]  |
|5378 |9         |0.0      |0             |5                 |8                 |2.0         |4.0     |1.0        |[9.0,0.0,0.0,5.0,8.0,2.0,4.0,1.0]   |
|2079 |9         |0.0      |0             |4                 |5                 |2.0         |4.0     |1.0        |[9.0,0.0,0.0,4.0,5.0,2.0,4.0,1.0]   |
|13055|9         |0.0      |0             |2                 |3                 |2.0         |4.0     |1.0        |[9.0,0.0,0.0,2.0,3.0,2.0,4.0,1.0]   |
|8851 |9         |0.0      |0             |5                 |14                |2.0         |4.0     |1.0        |[9.0,0.0,0.0,5.0,14.0,2.0,4.0,1.0]  |
|11788|1         |0.0      |1             |1                 |14                |0.0         |1.0     |0.0        |[1.0,0.0,1.0,1.0,14.0,0.0,1.0,0.0]  |
|19614|12        |3.0      |1             |1                 |5                 |1.0         |0.0     |0.0        |[12.0,3.0,1.0,1.0,5.0,1.0,0.0,0.0]  |
+-----+----------+---------+--------------+------------------+------------------+------------+--------+-----------+------------------------------------+
only showing top 20 rows

In [46]:
standardScaler = StandardScaler(inputCol="unscaled_features", outputCol="features")

In [47]:
ss_model = standardScaler.fit(va_data)

In [48]:
ss_data = ss_model.transform(va_data)

In [49]:
ss_data.show(truncate=False)

+-----+----------+---------+--------------+------------------+------------------+------------+--------+-----------+------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------+
|label|Occupation|stayindex|Marital_Status|Product_Category_1|Product_Category_2|CityCategory|ageindex|genderindex|unscaled_features                   |features                                                                                                                               |
+-----+----------+---------+--------------+------------------+------------------+------------+--------+-----------+------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------+
|8370 |10        |1.0      |0             |3                 |0                 |2.0         |6.0     |1.0        |[10.0,1.0,0.0,3.0,0.0,2.0,6.0,1.0]  |[1.5331167426859607,0.6945301455282605,0.0,0.7621541931089728,0.0,2.451092147365374,3.685480084896692,2.31908001899471]                |
|15200|10        |1.0      |0             |1                 |6                 |2.0         |6.0     |1.0        |[10.0,1.0,0.0,1.0,6.0,2.0,6.0,1.0]  |[1.5331167426859607,0.6945301455282605,0.0,0.25405139770299096,0.9653299297344281,2.451092147365374,3.685480084896692,2.31908001899471]|
|1422 |10        |1.0      |0             |12                |0                 |2.0         |6.0     |1.0        |[10.0,1.0,0.0,12.0,0.0,2.0,6.0,1.0] |[1.5331167426859607,0.6945301455282605,0.0,3.0486167724358912,0.0,2.451092147365374,3.685480084896692,2.31908001899471]                |
|1057 |10        |1.0      |0             |12                |14                |2.0         |6.0     |1.0        |[10.0,1.0,0.0,12.0,14.0,2.0,6.0,1.0]|[1.5331167426859607,0.6945301455282605,0.0,3.0486167724358912,2.2524365027136657,2.451092147365374,3.685480084896692,2.31908001899471] |
|7969 |16        |3.0      |0             |8                 |0                 |1.0         |5.0     |0.0        |[16.0,3.0,0.0,8.0,0.0,1.0,5.0,0.0]  |[2.452986788297537,2.0835904365847817,0.0,2.0324111816239276,0.0,1.225546073682687,3.0712334040805764,0.0]                             |
|15227|15        |2.0      |0             |1                 |2                 |2.0         |0.0     |0.0        |[15.0,2.0,0.0,1.0,2.0,2.0,0.0,0.0]  |[2.299675114028941,1.389060291056521,0.0,0.25405139770299096,0.32177664324480937,2.451092147365374,0.0,0.0]                            |
|19215|7         |1.0      |1             |1                 |8                 |0.0         |3.0     |0.0        |[7.0,1.0,1.0,1.0,8.0,0.0,3.0,0.0]   |[1.0731817198801725,0.6945301455282605,2.0334704092104996,0.25405139770299096,1.2871065729792375,0.0,1.842740042448346,0.0]            |
|15854|7         |1.0      |1             |1                 |15                |0.0         |3.0     |0.0        |[7.0,1.0,1.0,1.0,15.0,0.0,3.0,0.0]  |[1.0731817198801725,0.6945301455282605,2.0334704092104996,0.25405139770299096,2.4133248243360703,0.0,1.842740042448346,0.0]            |
|15686|7         |1.0      |1             |1                 |16                |0.0         |3.0     |0.0        |[7.0,1.0,1.0,1.0,16.0,0.0,3.0,0.0]  |[1.0731817198801725,0.6945301455282605,2.0334704092104996,0.25405139770299096,2.574213145958475,0.0,1.842740042448346,0.0]             |
|7871 |20        |0.0      |1             |8                 |0                 |2.0         |0.0     |0.0        |(8,[0,2,3,5],[20.0,1.0,8.0,2.0])    |(8,[0,2,3,5],[3.0662334853719213,2.0334704092104996,2.0324111816239276,2.451092147365374])                                             |
|5254 |20        |0.0      |1             |5                 |11                |2.0         |0.0     |0.0        |[20.0,0.0,1.0,5.0,11.0,2.0,0.0,0.0] |[3.0662334853719213,0.0,2.0334704092104996,1.2702569885149548,1.7697715378464516,2.451092147365374,0.0,0.0]                            |
|3957 |20        |0.0      |1             |8                 |0                 |2.0         |0.0     |0.0        |(8,[0,2,3,5],[20.0,1.0,8.0,2.0])    |(8,[0,2,3,5],[3.0662334853719213,2.0334704092104996,2.0324111816239276,2.451092147365374])                                             |
|6073 |20        |0.0      |1             |8                 |0                 |2.0         |0.0     |0.0        |(8,[0,2,3,5],[20.0,1.0,8.0,2.0])    |(8,[0,2,3,5],[3.0662334853719213,2.0334704092104996,2.0324111816239276,2.451092147365374])                                             |
|15665|20        |0.0      |1             |1                 |2                 |2.0         |0.0     |0.0        |[20.0,0.0,1.0,1.0,2.0,2.0,0.0,0.0]  |[3.0662334853719213,0.0,2.0334704092104996,0.25405139770299096,0.32177664324480937,2.451092147365374,0.0,0.0]                          |
|5378 |9         |0.0      |0             |5                 |8                 |2.0         |4.0     |1.0        |[9.0,0.0,0.0,5.0,8.0,2.0,4.0,1.0]   |[1.3798050684173646,0.0,0.0,1.2702569885149548,1.2871065729792375,2.451092147365374,2.4569867232644613,2.31908001899471]               |
|2079 |9         |0.0      |0             |4                 |5                 |2.0         |4.0     |1.0        |[9.0,0.0,0.0,4.0,5.0,2.0,4.0,1.0]   |[1.3798050684173646,0.0,0.0,1.0162055908119638,0.8044416081120234,2.451092147365374,2.4569867232644613,2.31908001899471]               |
|13055|9         |0.0      |0             |2                 |3                 |2.0         |4.0     |1.0        |[9.0,0.0,0.0,2.0,3.0,2.0,4.0,1.0]   |[1.3798050684173646,0.0,0.0,0.5081027954059819,0.48266496486721405,2.451092147365374,2.4569867232644613,2.31908001899471]              |
|8851 |9         |0.0      |0             |5                 |14                |2.0         |4.0     |1.0        |[9.0,0.0,0.0,5.0,14.0,2.0,4.0,1.0]  |[1.3798050684173646,0.0,0.0,1.2702569885149548,2.2524365027136657,2.451092147365374,2.4569867232644613,2.31908001899471]               |
|11788|1         |0.0      |1             |1                 |14                |0.0         |1.0     |0.0        |[1.0,0.0,1.0,1.0,14.0,0.0,1.0,0.0]  |[0.15331167426859607,0.0,2.0334704092104996,0.25405139770299096,2.2524365027136657,0.0,0.6142466808161153,0.0]                         |
|19614|12        |3.0      |1             |1                 |5                 |1.0         |0.0     |0.0        |[12.0,3.0,1.0,1.0,5.0,1.0,0.0,0.0]  |[1.839740091223153,2.0835904365847817,2.0334704092104996,0.25405139770299096,0.8044416081120234,1.225546073682687,0.0,0.0]             |
+-----+----------+---------+--------------+------------------+------------------+------------+--------+-----------+------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

## Splitting tranning and testing data

In [50]:
(training, test) = ss_data.randomSplit([.7, .3])
training.describe().show()

+-------+-----------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+
|summary|            label|       Occupation|         stayindex|    Marital_Status|Product_Category_1|Product_Category_2|      CityCategory|          ageindex|        genderindex|
+-------+-----------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+
|  count|           385050|           385050|            385050|            385050|            385050|            385050|            385050|            385050|             385050|
|   mean|  9265.2289105311|8.076351123230749|1.5336605635631737|0.4097545773276198| 5.405396701727049|  6.74067523698221|0.8483080119465004|1.4545072068562523|0.24691338787170497|
| stddev|5024.740284033693|6.520155213782972|1.4398959501717996| 0.491788970803052| 3.933548749092217| 6.215729421963342|0.8159516785887363| 1.628928088160572| 0.4312164765864277|
|    min|               12|                0|               0.0|                 0|                 1|                 0|               0.0|               0.0|                0.0|
|    max|            23961|               20|               4.0|                 1|                20|                18|               2.0|               6.0|                1.0|
+-------+-----------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+

In [51]:
test.describe().show()

+-------+-----------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+
|summary|            label|       Occupation|         stayindex|    Marital_Status|Product_Category_1|Product_Category_2|      CityCategory|          ageindex|        genderindex|
+-------+-----------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+
|  count|           165018|           165018|            165018|            165018|            165018|            165018|            165018|            165018|             165018|
|   mean|9261.028190864026|8.077536995964076| 1.537056563526403|0.4094159425032421|  5.40164103309942|  6.72321201323492|0.8482347380285787|1.4453817159340194|0.24685185858512404|
| stddev|5019.169049452351|6.528522198968895|1.4396520306606073|0.4917275605432764|3.9424279621467346| 6.214938053261299| 0.815991204168348|1.6258541579383285|0.43118110481080346|
|    min|               12|                0|               0.0|                 0|                 1|                 0|               0.0|               0.0|                0.0|
|    max|            23961|               20|               4.0|                 1|                20|                18|               2.0|               6.0|                1.0|
+-------+-----------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+

## LinearRegression

In [53]:
lr = LinearRegression(maxIter=10, regParam=.01)
lr_model = lr.fit(training)

In [54]:
lr_model.coefficients

DenseVector([62.7314, -15.0926, 28.4164, -1707.9995, 141.8912, -32.3229, 53.789, -219.5719])

In [55]:
lr_model.intercept

11482.858598621868

In [56]:
trainingSummary = lr_model.summary
trainingSummary.rootMeanSquaredError

4710.652264556437

In [57]:
trainingSummary.r2

0.12110704719571241

In [58]:
prediction_df = lr_model.transform(test)

In [59]:
prediction_df.select("label","prediction").show(truncate=False)

+-----+------------------+
|label|prediction        |
+-----+------------------+
|12   |2796.8525794167836|
|12   |3167.324908081482 |
|12   |3282.4280975365964|
|12   |3305.7863193030125|
|12   |3288.7305657124907|
|12   |3333.845475943621 |
|12   |3303.3210655681987|
|12   |3332.4519936284423|
|12   |3261.3919429848247|
|12   |2716.689749105273 |
|12   |3368.4065122688226|
|12   |3275.1251634729633|
|12   |3365.2131843493826|
|12   |3485.1677477423555|
|12   |2963.015468706686 |
|12   |3461.7379327158533|
|12   |3337.6035568529333|
|12   |3326.2564565678367|
|12   |3373.5580754933126|
|12   |3424.239839444028 |
+-----+------------------+
only showing top 20 rows

In [60]:
from pyspark.ml.evaluation import RegressionEvaluator
eval = RegressionEvaluator(labelCol="label", predictionCol="prediction", metricName="rmse")

In [61]:
rmse = eval.evaluate(prediction_df)
print("RMSE: %.3f" % rmse)
r2 = eval.evaluate(prediction_df, {eval.metricName: "r2"})
print("r2: %.3f" %r2)
mse = eval.evaluate(prediction_df, {eval.metricName: "mse"})
print("MSE: %.3f" % mse)
mae = eval.evaluate(prediction_df, {eval.metricName: "mae"})
print("MAE: %.3f" % mae)

RMSE: 4703.250
r2: 0.122
MSE: 22120561.809
MAE: 3601.879

## DecisionTreeRegressor

In [62]:
from pyspark.ml.regression import DecisionTreeRegressor

In [66]:
dtr = DecisionTreeRegressor(maxDepth=15)

In [68]:
dtr_model = dtr.fit(training)

In [70]:
prediction_dtr = dtr_model.transform(test)

In [72]:
rmse = eval.evaluate(prediction_dtr)
print("RMSE: %.3f" % rmse)
r2 = eval.evaluate(prediction_dtr, {eval.metricName: "r2"})
print("r2: %.3f" %r2)
mse = eval.evaluate(prediction_dtr, {eval.metricName: "mse"})
print("MSE: %.3f" % mse)
mae = eval.evaluate(prediction_dtr, {eval.metricName: "mae"})
print("MAE: %.3f" % mae)

RMSE: 3019.575
r2: 0.638
MSE: 9117831.837
MAE: 2233.796

## RandomForestRegressor

In [73]:
from pyspark.ml.regression import RandomForestRegressor

In [74]:
rfr = RandomForestRegressor(maxDepth=15)

In [75]:
rfr_model = rfr.fit(training)

In [76]:
prediction_rfr = rfr_model.transform(test)

In [77]:
rmse = eval.evaluate(prediction_rfr)
print("RMSE: %.3f" % rmse)
r2 = eval.evaluate(prediction_rfr, {eval.metricName: "r2"})
print("r2: %.3f" %r2)
mse = eval.evaluate(prediction_rfr, {eval.metricName: "mse"})
print("MSE: %.3f" % mse)
mae = eval.evaluate(prediction_rfr, {eval.metricName: "mae"})
print("MAE: %.3f" % mae)

RMSE: 3001.737
r2: 0.642
MSE: 9010423.574
MAE: 2268.147

## Gradient-boosted tree regression

In [78]:
from pyspark.ml.regression import GBTRegressor

In [79]:
gbt = GBTRegressor(maxIter=10)

In [80]:
gbt_model = gbt.fit(training)

In [81]:
prediction_gbt = gbt_model.transform(test)

In [82]:
rmse = eval.evaluate(prediction_gbt)
print("RMSE: %.3f" % rmse)
r2 = eval.evaluate(prediction_gbt, {eval.metricName: "r2"})
print("r2: %.3f" %r2)
mse = eval.evaluate(prediction_gbt, {eval.metricName: "mse"})
print("MSE: %.3f" % mse)
mae = eval.evaluate(prediction_gbt, {eval.metricName: "mae"})
print("MAE: %.3f" % mae)

RMSE: 3003.840
r2: 0.642
MSE: 9023057.483
MAE: 2282.940